<footer class="footer">
      <div class="continer" style="padding-top:5px;">
        <div class="col-md-4">
              <center>
              <a href="https://www.facebook.com/mithun.purkait.33">Mithun Purkait</a>
              <br>
              <img src="https://cdn2.iconfinder.com/data/icons/phone-call-functions/154/phone-function-call-telephone-128.png" style="width:20px"></img>+91-9830122972
              </center>
        </div>
        <div class="col-md-4">
              <center>
              <a href="https://www.facebook.com/link2soumik">Soumik Bhattacharya</a>
              <br>
              <img src="https://cdn2.iconfinder.com/data/icons/phone-call-functions/154/phone-function-call-telephone-128.png" style="width:20px"></img>+91-9836580490
              </center>
        </div>
        <div class="col-md-4">
              <center>
              <a href="https://www.facebook.com/avijitwildlife">Avijit Ganguly</a>
              <br>
              <img src="https://cdn2.iconfinder.com/data/icons/phone-call-functions/154/phone-function-call-telephone-128.png" style="width:20px"></img>+91-9831918004
              </center>
         </div>
      </div>
</footer>
