<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="page-content">
      <div class="col-md-3">
        
          <div class="well">
            <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FAkhonAranyak&stream=true&colorscheme=light&show_faces=true&border_color"
                    style="border:none;background:white;width:97%;height:480px"></iframe>
          </div>
        
       </div>

      <div class="col-md-9">
          <div class="wrapper">
            {{ content }}
          </div>
      </div>
    </div>

  </body>

</html>
