<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="page-content">
      <div class="col-md-3">
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FAkhonAranyak&width=300&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:100%; height:100%; background: white;" allowtransparency="true"></iframe>
      </div>

      <div class="col-md-9">
          <div class="wrapper">
            {{ content }}
          </div>
      </div>
    </div>
    
    {% include footer.html %}

  </body>

</html>
